.main{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f5f5f5;
}
.canvas-move {
  cursor: url(./assets/drag11.png), auto!important;
}
.canvas-moved {
  cursor: url(./assets/drag21.png), auto!important;
}
.tools{
  position: absolute;
  top: 25px;
  left: 25px;
}
.tools span{
  margin-right: 20px;
}